@tailwind base;
@tailwind components;
@tailwind utilities;

/* Open Sans */
@font-face {
    font-family: 'Open Sans';
    src: url('./assets/OpenSans/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Open Sans';
    src: url('./assets/OpenSans/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Open Sans';
    src: url('./assets/OpenSans/OpenSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Open Sans';
    src: url('./assets/OpenSans/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Open Sans';
    src: url('./assets/OpenSans/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Open Sans';
    src: url('./assets/OpenSans/OpenSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Open Sans';
    src: url('./assets/OpenSans/OpenSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Open Sans';
    src: url('./assets/OpenSans/OpenSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Open Sans';
    src: url('./assets/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Open Sans';
    src: url('./assets/OpenSans/OpenSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Open Sans';
    src: url('./assets/OpenSans/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Open Sans';
    src: url('./assets/OpenSans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
  }
  
  /* Open Sans Condensed */
  @font-face {
    font-family: 'Open Sans Condensed';
    src: url('./assets/OpenSans_Condensed/OpenSans_Condensed-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Open Sans Condensed';
    src: url('./assets/OpenSans_Condensed/OpenSans_Condensed-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Open Sans Condensed';
    src: url('./assets/OpenSans_Condensed/OpenSans_Condensed-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Open Sans Condensed';
    src: url('./assets/OpenSans_Condensed/OpenSans_Condensed-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
  }
  
  /* Open Sans Semi Condensed */
  @font-face {
    font-family: 'Open Sans Semi Condensed';
    src: url('./assets/OpenSans_Semicondensed/OpenSans_SemiCondensed-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Open Sans Semi Condensed';
    src: url('./assets/OpenSans_Semicondensed/OpenSans_SemiCondensed-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Open Sans Semi Condensed';
    src: url('./assets/OpenSans_Semicondensed/OpenSans_SemiCondensed-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Open Sans Semi Condensed';
    src: url('./assets/OpenSans_Semicondensed/OpenSans_SemiCondensed-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
  }

  body{
    @apply font-sans;
  }